# Spring Boot
IngerssSpring/HELP.md
IngerssSpring/.gradle
IngerssSpring/build/
!IngerssSpring/gradle/wrapper/gradle-wrapper.jar
!IngerssSpring/**/src/main/**/build/
!IngerssSpring/**/src/test/**/build/

### STS ###
IngerssSpring/.apt_generated
IngerssSpring/.classpath
IngerssSpring/.factorypath
IngerssSpring/.project
IngerssSpring/.settings
IngerssSpring/.springBeans
IngerssSpring/.sts4-cache
IngerssSpring/bin/
!IngerssSpring/**/src/main/**/bin/
!IngerssSpring/**/src/test/**/bin/

### IntelliJ IDEA ###
IngerssSpring/.idea
IngerssSpring/*.iws
IngerssSpring/*.iml
IngerssSpring/*.ipr
IngerssSpring/out/
!IngerssSpring/**/src/main/**/out/
!IngerssSpring/**/src/test/**/out/

### NetBeans ###
IngerssSpring/nbproject/private/
IngerssSpring/nbbuild/
IngerssSpring/dist/
IngerssSpring/nbdist/
IngerssSpring/.nb-gradle/

### VS Code ###
IngerssSpring/.vscode/

# React
Ingressreact/node_modules
Ingressreact/.pnp
Ingressreact/.pnp.js

# testing
Ingressreact/coverage

# production
Ingressreact/build

# misc
.DS_Store
Ingressreact/.env.local
Ingressreact/.env.development.local
Ingressreact/.env.test.local
Ingressreact/.env.production.local

Ingressreact/npm-debug.log*
Ingressreact/yarn-debug.log*
Ingressreact/yarn-error.log*

################
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
